{% extends "../core/base.html" %}
{% load static %}

{% block head_imports %}
<link rel='stylesheet' type='text/css' href="{% static 'control/css/subject.css' %}">
{% endblock %}

{% block title %}Конструктор уроков{% endblock %}

{% block account_first_name %}
Фамилия Имя
{% endblock %}

{% block account_type %}
Конструктор уроков
{% endblock %}

{% block content %}
<main>
	<div class="main-header">
		<div class="section-label">
			<p>Конструктор уроков</p>
		</div>
		<div class="grade-label">
			{% if grade.number == 10 or grade.number == 11 %}
			<p>- {{ grade.number }} класс {{ grade_directions|get_item:grade.direction }} {{ subject_names|get_item:subject }} {{ languages|get_item:language }} {{ quarters|get_item:quarter }}</p>
			{% else %}
			<p>- {{ grade.number }} класс {{ subject_names|get_item:subject }} {{ languages|get_item:language }} {{ quarters|get_item:quarter }}</p>
			{% endif %}
		</div>
		<!--<div class="choose-period">
			<button></button>
			<p>{2024-2025}</p>
			<button></button>
		</div>-->
	</div>
	<div class="content">
		<div class="content-header">
			<div class="content-header-left">
				{% if grade.number == 10 or grade.number == 11 %}
				<a href="{{request.path}}?subject={{subject}}&grade={{grade.number}}&direction={{grade.direction}}&language={{language}}">
				{% else %}
				<a href="{{request.path}}?subject={{subject}}&grade={{grade.number}}&language={{language}}">
				{% endif %}
					<button class="back">Назад</button>
				</a>
			</div>
		</div>
		<div class="add-lesson">
			<a href="#">
				<div class="add-lesson-container">
					<p>Добавить урок</p>
				</div>
			</a>
		</div>
		{% for lesson in lessons %}
			<div class="lesson">
				<a href="#">
					<div class="lesson-container">
						<p>{{ lesson.number }} {{ lesson.title }}</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}