.main-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: red;
	padding: 10px;
}

.section-label {

}

.grade-label {
	flex-grow: 1;
	text-align: center;
}

.choose-period {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
}

.subject {
	background-color: purple;
	border: 1px solid red;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
}

.subject-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

.base {
	/*width: 18%;*/
	background-color: lime;
	overflow: hidden;
	width: 160px;
	height: 100px;
	/*padding: 5px;*/
}

.base img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	margin-left: 10px;
	height: 65px;
}

.info h2 {
	font-weight: bold;
}

.info p {
	color: gray;
}

@media screen and (max-width: 640px) {
	.base {
		width: 24%;
	}

	.subjects {
		width: 76%;
	}
}