.main-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: transparent;
	padding: 20px;/*10*/
}

.section-label {

}

.grade-label {
	flex-grow: 1;
	text-align: center;
}

.choose-period {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
}

.content-header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	width: 100%;
	margin-bottom: 10px;
}

.back {
	cursor: pointer;
	padding: 5px;
	border: 1px solid var(--text-shadowed-color);
	border-radius: 5px;
	background-color: transparent;
	color: var(--text-shadowed-color);
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
}

.back:hover {
	transition: 0.3s ease;
	background-color: var(--text-shadowed-color);
	color: var(--text-900);
}

.create-user {
	cursor: pointer;
	padding: 5px;
	border: 1px solid var(--secondary-500);
	border-radius: 5px;
	background-color: transparent;
	color: var(--secondary-500);
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.create-user:hover {
	transition: 0.3s ease;
	background-color: var(--secondary-500);
	color: var(--text-900);
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	background-color: purple;
}

.table thead tr {
	background-color: gray;
	text-align: center;
}

.table th, table td {
	/*border: 1px solid black;*/
	padding: 12px 15px;
	box-sizing: border-box;
	font-weight: normal;
}

.table th {
	padding: 10px 15px;
}

.table tbody {
	counter-reset: number;
}

.table tbody tr {
	border-bottom: 1px solid black;
	text-align: center;
}

.table tbody tr:nth-of-type(even) {
	background-color: gray;
}

.table tbody tr:last-of-type {
	border: none;
}

.table-head-center {
	text-align: center;
}

.table-head-left {
	text-align: left;
}

.table-number {
	width: 40px;
}

.table-number::before {
	counter-increment: number;
	content: counter(number);
}

.table-user {
	width: 100px;
	text-align: left;
}

.user {
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	text-align: left;
	background-color: crimson;
	border: 1px solid red;
	border-radius: 5px;
	padding: 10px;
}

.user-account-profile-picture {
	position: relative;
	height: 50px;
	width: 50px;
	min-width: 50px;
	/*border: 2px solid rgb(54,178,186);*/
	border: 2px solid cyan;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.user-account-profile-picture img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.user-account-first-name {

}

.table-gmail {
	width: 50px;
	text-align: left;
}

.table-password {
	width: 50px;
}

.password {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: start;
}

.password button {
	width: 20px;
	height: 20px;
}

.table-actions {
	width: 50px;
}

.actions {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.actions div {
	cursor: pointer;
	width: 35px;
	height: 35px;
	margin-right: 10px;
	border-radius: 5px;
}

.view {
	border: 1px solid green;
}

.view:hover {
	transition: 0.3s ease;
	background-color: green;
}

.view-container {
	width: 100%;
	height: 100%;
	padding: 5px;
}

.edit {
	border: 1px solid orange;
}

.edit:hover {
	transition: 0.3s ease;
	background-color: orange;
}

.delete {
	border: 1px solid red;
}

.delete:hover {
	transition: 0.3s ease;
	background-color: red;
}

.widget-add-user {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	background-color: black;
	border: 1px solid red;
	border-radius: 5px;
	z-index: 3;
}

.widget-view-student {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	background-color: black;
	border: 1px solid red;
	border-radius: 5px;
	z-index: 3;
}

.widget-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid red;
}

.widget-content {
	padding: 20px;
}

.widget-content form {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.form-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.form-content-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.form-content-label {
	color: gray;
}

.form-content-data {
	font-weight: bold;
	line-height: 40px;
	border-bottom: 1px solid gray;
}

.form-control:focus {
	outline: none;
}

.form-content div {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.form-control {
	padding: 8px;
	color: black;
	border: 1px solid gray;
	border-radius: 5px;
}

legend {
	margin-bottom: 8px;
}

legend.required::after {
	content: " *" !important;
	color: red;
}

fieldset {
	border: none;
}

.form-content div fieldset div {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: start;
}

.form-content div fieldset div div {
	margin-right: 20px;
}

label {
	margin-bottom: 8px;
}

label.required::after {
	content: " *" !important;
	color: red;
}

select {
	padding: 8px;
	color: black;
	border: 1px solid gray;
	border-radius: 5px;
}

.note {
	margin-bottom: 10px;
}

.note p {
	color: gray;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.cancel {
	cursor: pointer;
	padding: 10px;
	border: 1px solid cyan;
	border-radius: 5px;
	width: 30%;
}

.cancel:hover {

}

.submit {
	cursor: pointer;
	padding: 10px;
	background-color: orange;
	border: none;
	border-radius: 5px;
	width: 30%;
}

.submit:hover {
	transition: 0.3s ease;
	background-color: darkorange;
}

.widget-content2 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.widget-left {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: green;
	width: 30%;
	padding: 20px;
}

.widget-right {
	background-color: crimson;
	width: 70%;
	padding: 20px;
}

.widget-user {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.widget-user-account-profile-picture {
	position: relative;
	height: 80px;
	width: 80px;
	min-width: 80px;
	/*border: 2px solid rgb(54,178,186);*/
	border: 2px solid cyan;
	border-radius: 50%;
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
	overflow: hidden;
}

.widget-user-account-profile-picture img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.widget-user-account-first-name {
	margin-top: 8px;
	font-size: 20px;
}

.widget-user-account-type {
	margin-top: 6px;
}

.widget-user-account-type p {
	color: gray;
}

.widget-buttons {
	margin-top: 15px;
}

.widget-buttons button {
	cursor: pointer;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
}

.edit_data {
	background-color: blue;
	border: none;
}

.reset_password_data {
	background-color: orange;
	border: none;
}

.delete_user_data {
	background-color: white;
	border: 1px solid red;
	color: red;
}

.hide {
	display: none;
}

@media screen and (max-width: 640px) {
	.base {
		width: 24%;
	}

	.subjects {
		width: 76%;
	}
}