.main-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: red;
	padding: 10px;
}

.section-label {

}

.grade-label {
	flex-grow: 1;
	text-align: center;
}

.choose-period {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	justify-content: center;
	/*display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	box-sizing: border-box;*/
	padding: 10px;
}

.progess {
	background-color: black;

}

.bar {
	background-color: gray;
}

.subject {
	
}

.subject-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	/*width: 120px;*/
	height: 90px;
	background-color: aqua;
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
}

.number-5 {
	color: lime;
}

.number-4 {
	color: green;
}

.number-3 {
	color: orange;
}

.number-2 {
	color: red
}

.number-1 {
	color: crimson;
}

@media screen and (max-width: 640px) {
	
}